body, canvas {
    margin: 0;
    padding: 0;
    overflow: scroll;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    color: #e6ffa8;
}

#stage-parent {
    width: 100%;
}

#container {
    position: absolute;
}

#left-sidebar {
    position: fixed;
    min-width: 32px;
    text-align: left;
    top: 10px;
    left: 10px;
    z-index: 100;
    border-radius: 10px;
    background-color: beige;
    padding: 10px;
}

#left-sidebar .left-menuitem {
    cursor: pointer;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    color: darkslategray;
}

#left-sidebar .left-menuitem + .left-menuitem {
    margin-top: 10px;
}

#left-sidebar #menu-1:before { content: 'stars'; }
#left-sidebar #menu-2:before { content: 'snapping'; }
#left-sidebar #menu-3:before { content: 'connected'; }
#left-sidebar #menu-4:before { content: 'anchor'; }
#left-sidebar #menu-5:before { content: 'collision'; }
#left-sidebar #menu-6:before { content: 'scaleboard'; }
#left-sidebar #menu-7:before { content: 'edit text'; }
#left-sidebar #menu-8:before { content: '15k nodes'; }

#top-menu {
    position: absolute;
    top: 10px;
    left: 140px;
    background-color: #ffdee7;
    border-radius: 10px;
    padding: 10px;
    height: 28px;
    line-height: 32px;
    display: flex;
}

#top-menu .top-menuitem {
    color: darkslategray;
    font-size: 24px;
    cursor: pointer;
}

#top-menu.selected {
    background-color: #ffb5dc;
}